<launch>
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">

    <!-- resolution in meters per pixel -->
    <param name="resolution" value="0.1" />

    <!-- name of the fixed frame, needs to be "/map" for SLAM -->
    <param name="frame_id" type="string" value="/map" />

    <!-- max range / depth resolution of the kinect in meter -->
    <param name="sensor_model/max_range" value="5" />
    <param name="latch" value="true" />

    <!-- max/min height for occupancy map, should be in meters -->
    <param name="pointcloud_max_z" value="0.5" />
    <param name="pointcloud_min_z" value="-0.3" />
    
    <!--param name="base_frame_id" type="string" value="base_link"/-->
    
    <!--filter_ground 分割地面和障碍物-->
    <param name="filter_ground" type="bool" value="true"/>   
    <!--param name="ground_filter/distance" value="0.04"/-->
    <!--param name="ground_filter/angle" value="15"/-->
    <!--param name="ground_filter/plane_distance" value="0.07"/-->  
     
    <param name="occupancy_max_z" type="double" value="0.1"/>
    <param name="occupancy_min_z" type="double" value="-0.1"/>
    <!-- topic from where pointcloud2 messages are subscribed -->
    <remap from="/cloud_in" to="/loop_fusion/octree" />
 
  </node>
</launch>
